[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"flake8" = "*"
pytest = "*"
pytest-cov = "*"
pytest-pylint = "*"
"pytest-flake8" = "*"
pyflakes = "*"
pylint = "*"
awscli = "*"
fleece = {version="*", extras = ["cli"]}


[packages]

"boto3" = "*"
"jinja2" = "*"
pip-tools = "*"
tox = "*"


[requires]

python_full_version = "3.6.1"
